* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.title {
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: #d91e18;
	display: inline-block;
	padding-right: 20px;
	border-right: 1px solid #000;
	line-height: 40px;
	margin-top: 120px;
}

/*-------------------- HEADER --------------------*/

header {
	background: url('../img/header-background.jpg') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	z-index: 3;
}

/*----- navigation -----*/

header #navigation {
	background-color: #111;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 3;
}

header #navigation .navigation-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header #navigation nav {
	margin-top: 22px;
	text-align: center;
}

header #navigation nav li {
	display: inline-block;
	list-style-type: none;
	margin-right: 30px;
}

header #navigation nav li:last-child {
	margin-right: 0;
}

header #navigation nav li a {
	font-size: 12px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	transition: 0.3s ease;
}

header #navigation nav li a:hover {
	color: #d91e18;
	transition: 0.3s ease;
}

/*----- main -----*/

header #header-main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header #header-main .glasses {
	text-align: center;
	padding: 355px 0 170px;
}

header #header-main .glasses img {
	text-shadow: 2px 2px 5px #000;
	width: 70%;
}

/*-------------------- ABOUT --------------------*/

#about {
	background-color: #f1f1f1;
	min-height: 800px;
	position: relative;
	z-index: 2;
}

#about .about-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#about .about-left {
	max-width: 520px;
	padding: 20px;
	float: left;
	margin-top: 100px;
}

#about .about-left p {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 55px;
	letter-spacing: 3px;
}

#about .about-left p:last-child {
	margin-bottom: 0;
}

#about img {
	width: 40%;
	margin-top: 190px;
	padding-left: 100px;
}

/*-------------------- GALLERY --------------------*/

#gallery {
	background: url('../img/gallery-back.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
}

#gallery .gallery-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#gallery .gallery-wrap .title h2 {
	border-right: 1px solid #f1f1f1;
}

#gallery .gallery-wrap p {
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	letter-spacing: 3px;
	color: #f1f1f1;
	margin-top: 65px;
	padding: 0 50px;
}

#gallery .gallery-wrap .top {
	margin-top: 100px;
	padding-bottom: 50px;
	border-bottom: 1px solid #d91e18;
}

#gallery .gallery-wrap img {
	padding: 0 6%;
	width: 25%;
}

#gallery .gallery-wrap img:nth-child(2) {
	padding: 0;
}

#gallery .gallery-wrap .bottom {
	margin-top: 50px;
	padding-bottom: 100px;
}

/*-------------------- MAN WINDOW --------------------*/

#man-window {
	background-color: #f1f1f1;
	position: relative;
	z-index: 2;
}

#man-window .window-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 130px 20px 0;
}

#man-window .window-wrap .window {
	margin: 0 auto;
	height: 500px;
	width: 500px;
	background: url('../img/guy.png') no-repeat top center;
	background-attachment: fixed;
	border-radius: 50%;
}

/*-------------------- PRODUCTS --------------------*/

#products {
	background-color: #f1f1f1;
	position: relative;
	z-index: 2;
}

#products .products-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#products .products-wrap p {
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 3px;
	text-align: center;
	padding: 0 30px;
	margin-top: 90px;
}

#products .products-wrap .glasses {
	text-align: center;
}

#products .products-wrap img {
	width: 80%;
	margin-top: 120px;
	padding-bottom: 50px;
}

/*-------------------- PRODUCTS - INFO --------------------*/

#products-info {
	background-color: #1c1c1c;
	position: relative;
	z-index: 2;
}

#products-info .info {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#products-info .info .main-info {
	width: 90%;
	background-color: #333;
	margin: 0 auto;
	padding: 20px 2%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#products-info .info .main-info .left, .center, .right {
	display: inline-block;
	width: 31.6%;
	padding-right: 2%;
}

#products-info .info .main-info .left img, .center img, .right img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#products-info .info .main-info .circle-wrap {
	position: relative;
	top: -4px;
	margin: 0 auto;
	background-color: #1c1c1c;
	width: 100%;
	height: 70px;
}

#products-info .info .main-info h3 {
	font-size: 20px;
	color: #f1f1f1;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 2;
	position: relative;
    top: 23px;
    transition: 0.3s ease;
}

#products-info .info .main-info h3:hover {
	color: #d91e18; 
	cursor: pointer;
	transition: 0.3s ease;
}

/*----- left -----*/

#products-info .info .main-info .left .circle {
	width: 95px;
	height: 95px;
	background-color: #1c1c1c;
	border-radius: 50%;
	text-align: center;
	margin-left: 38%;
	position: absolute;
	top: -47px;
}

#products-info .info .main-info .left .circle i {
	font-size: 20px;
	color: #f1f1f1;
	padding-top: 38px;
}

/*----- center -----*/

#products-info .info .main-info .center .circle {
	width: 95px;
	height: 95px;
	background-color: #d91e18;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	margin-left: 38%;
	position: absolute;
	top: -47px;
}

#products-info .info .main-info .center .circle i {
	font-size: 20px;
	color: #f1f1f1;
	padding-top: 38px;
}

#products-info .info .main-info .center .circle-wrap {
	background-color: #d91e18;
}

#products-info .info .main-info .center h3:hover {
	color: #1c1c1c; 
	cursor: pointer;
	transition: 0.3s ease;
}

/*----- right -----*/

#products-info .info .main-info .right {
	padding-right: 0;
}

#products-info .info .main-info .right .circle {
	width: 95px;
	height: 95px;
	background-color: #1c1c1c;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	margin-left: 38%;
	position: absolute;
	top: -47px;
}

#products-info .info .main-info .right .circle i {
	font-size: 20px;
	color: #f1f1f1;
	padding-top: 38px;
}

/*-------------------- CLIENTS --------------------*/

#clients {
	background-color: #f1f1f1;
	padding-bottom: 50px;
	position: relative;
	z-index: 2;
	margin-bottom: 600px;
}

#clients .clients-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#clients .clients-wrap>p {
	text-align: center;
	font-size: 35px;
	color: #1c1c1c;
	letter-spacing: 4px;
	line-height: 50px;
	margin: 100px 0;
}

#clients .clients-wrap .img-wrap {
	text-align: center;
}

#clients .clients-wrap .img-wrap img {
	width: 60%;
	border: 1px solid #1c1c1c;
}

/*----- comment card -----*/

#clients .clients-wrap .comment-card {
	margin: 0 auto;
	width: 45%;
	position: relative;
	top: -50px;
	background-color: #f1f1f1;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	padding: 10px;
	min-height: 175px;
}

#clients .clients-wrap .comment-card h3 {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
	padding-top: 10px;
}

#clients .clients-wrap .comment-card h5 {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #d91e18; 
	padding-top: 5px;
}

#clients .clients-wrap .comment-card p {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px; 
	padding-top: 15px;
}

#clients .clients-wrap .comment-card .bottom {
	min-height: 54px;
}

#clients .clients-wrap .comment-card .bottom h4 {
	display: inline-block;
	padding-top: 25px;
}

#clients .clients-wrap .comment-card .bottom h4 a {
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #d91e18; 
	text-decoration: none;
	transition: 0.3s ease;
}

#clients .clients-wrap .comment-card .bottom h4 a:hover {
	color: #1c1c1c;
	transition: 0.3s ease;
}

#clients .clients-wrap .comment-card img {
	float: right;
	border-radius: 50%;
	border: 1px solid #d91e18; 
}

/*-------------------- CONTACT --------------------*/

#contact {
	background: url('../img/contact-back.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#contact .contact-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#contact .contact-wrap h2 {
	border-right: 1px solid #f1f1f1;
}

#contact .contact-wrap .text-wrap {
	text-align: center;
	margin-top: 40px;
}

#contact .contact-wrap .text-wrap h3 {
	font-size: 50px;
	font-weight: 100;
	color: #f1f1f1;
	font-style: italic;
	display: inline-block;
	border-bottom: 1px solid #d91e18; 
	letter-spacing: 2px;
}

#contact .contact-wrap .img-wrap {
	text-align: center;
	margin-top: 30px;
}

#contact .contact-wrap .img-wrap img {
	width: 60%;
}

#contact .contact-wrap ul {
	text-align: center;
	margin-bottom: 50px;
}

#contact .contact-wrap ul li {
	display: inline-block;
	margin-right: 30px;
}

#contact .contact-wrap ul li:last-child {
	margin-right: 0;
}

#contact .contact-wrap ul li a {
	font-size: 25px;
	color: #f1f1f1;
	transition: 0.3s ease;
}

#contact .contact-wrap ul li a:hover {
	color: #d91e18; 
	transition: 0.3s ease; 
}

#contact footer {
	background-color: rgba(255,255,255,0.1);
	text-align: center;
	font-size: 12px;
	color: #f1f1f1;
	padding: 10px 0;
}

/*----------------------------------- MEDIA QUERIES -----------------------------------*/

@media  screen and (max-width: 1160px) {


	/*---------- HEADER ----------*/

	header #header-main .glasses {
		padding: 155px 0 70px;
	}
	
	/*---------- ABOUT ----------*/

	#about .about-left {
		max-width: 1200px;
		float: none;
	}

	#about .about-wrap .img-wrap {
		width: 90%;
		text-align: center;
		padding-bottom: 50px;
	}

	#about .about-wrap .img-wrap img {
		margin-top: 50px;
		width: 80%;
		padding-left: 0;
	}

	/*---------- PRODUCTS-INFO ----------*/

	#products-info .info {
		padding: 60px 20px;
	}
}

@media  screen and (max-width: 880px) {

	/*---------- GALLERY ----------*/

	#gallery .gallery-wrap .top img:last-child {
		display: none;
	}

	#gallery .gallery-wrap .bottom img:last-child {
		display: none;
	}

	#gallery .gallery-wrap img {
		padding: 0 6%;
		width: 40%;
	}

	/*---------- PRODUCTS-INFO ----------*/

	#products-info .info {
		padding: 30px 20px;
	}
	
	#products-info .info .main-info .left, .center, .right {
		width: 31.5%;
	}

	#products-info .info .main-info h3 {
		font-size: 15px;
	}

	/*----- left -----*/

	#products-info .info .main-info .left .circle {
		width: 55px;
		height: 55px;
		top: -27px;
	}

	#products-info .info .main-info .left .circle i {
		font-size: 15px;
		padding-top: 15px;
	}

	/*----- center -----*/

	#products-info .info .main-info .center .circle {
		width: 55px;
		height: 55px;
		top: -27px;
	}

	#products-info .info .main-info .center .circle i {
		font-size: 15px;
		padding-top: 15px;
	}

	/*----- right -----*/

	#products-info .info .main-info .right .circle {
		width: 55px;
		height: 55px;
		top: -27px;
	}

	#products-info .info .main-info .right .circle i {
		font-size: 15px;
		padding-top: 15px;
	}

}

@media  screen and (max-width: 700px) {

	/*---------- HEADER ----------*/

	/*----- navigation -----*/

	header #navigation nav li {
		margin-right: 10px;
	}

	header #navigation nav li a {
		font-size: 8px;
		letter-spacing: 1px;
	}

	/*---------- MAN WINDOW ----------*/

	#man-window .window-wrap .window {
		height: 250px;
		width: 250px;
		background: url('../img/guy-s.png') no-repeat top center;
		background-attachment: fixed;
	}

	/*---------- CLIENTS ----------*/

	#clients {
		padding-bottom: 50px;
		margin-bottom: 600px;
	}

	#clients .clients-wrap>p {
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 35px;
		margin: 50px 0;
	}

	#clients .clients-wrap .img-wrap img {
		display: none;
	}

	/*----- comment card -----*/

	#clients .clients-wrap .comment-card {
		margin: 0 auto;
		width: 90%;
		position: static;
		top: 0;
	}

	#clients .clients-wrap .comment-card h3 {
		font-size: 20px;
	}

}

@media  screen and (max-width: 660px) {

	h2 {
		font-size: 30px;
		line-height: 25px;
		margin-top: 50px;
	}

	/*---------- HEADER ----------*/

	header #header-main .glasses {
		padding: 100px 0 30px;
	}

	/*---------- ABOUT ----------*/

	#about {
		min-height: 0;
	}

	#about .about-left {
		padding: 15px;
		padding-top: 0;
		margin-top: 30px;
	}

	#about .about-left p {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 25px;
		letter-spacing: 2px;
	}

	/*---------- GALLERY ----------*/

	#gallery .gallery-wrap p {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 2px;
		margin-top: 30px;
		padding: 0 20px;
	}

	#gallery .gallery-wrap .top {
		padding-bottom: 20px;
		margin-top: 30px;
	}

	#gallery .gallery-wrap .bottom {
		padding-bottom: 20px;
	}

	#gallery .gallery-wrap img {
		padding: 0 6% 20px;
		width: 90%;
	}

	#gallery .gallery-wrap img:nth-child(2) {
		padding: 0 6% 20px;
	}

	/*---------- MAN WINDOW ----------*/

	#man-window .window-wrap {
		padding-top: 50px;
	}

	/*---------- PRODUCTS ----------*/

	#products .products-wrap p {
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 1px;
		padding: 0 20px;
		margin-top: 30px;
	}

	#products .products-wrap img {
		width: 80%;
		margin-top: 30px;
		padding-bottom: 30px;
	}

	/*---------- PRODUCTS-INFO ----------*/

	#products-info {
		display: none;
	}

	/*---------- CLIENTS ----------*/

	#clients {
		margin-bottom: 450px;
	}

	#clients .clients-wrap>p {
		font-size: 18px;
		line-height: 25px;
		margin: 30px 0;
	}

	#clients .clients-wrap .title h2 {
		margin-top: 0;
	}

	/*----- comment card -----*/

	#clients .clients-wrap .comment-card {
		min-height: 0;
	}

	#clients .clients-wrap .comment-card h3 {
		font-size: 15px;
	}

	#clients .clients-wrap .comment-card h5 {
		font-size: 10px;
	}

	#clients .clients-wrap .comment-card p {
		font-size: 10px;
	}

	#clients .clients-wrap .comment-card .bottom h4 {
		padding-top: 10px;
	}

	#clients .clients-wrap .comment-card .bottom h4 a {
		font-size: 10px;
	}

	#clients .clients-wrap .comment-card img {
		margin-top: 15px;
		width: 40px;
	}

	/*---------- CONTACT ----------*/

	#contact {
		padding-top: 100px;
	}


}


	

	



















